
<div class="center">
    <h1>Login Page</h1>
    <strong class="subHeading">Login Page{{ text }}</strong>
    <form>
        <div class="gallery">
            <ul class="slides">
                <fieldset>
                    <div class="formRow">
                        <div class="textField"><input type="text" name="contact-name" id="name" placeholder="Login ..." /></div>
                    </div
                    <div class="formRow">
                        <div class="textField"><input type="password" name="contact-name" id="password" placeholder="Password ..." /></div>
                    </div
                </fieldset>

             <!--   <li><img src="../images/img-gallery3.jpg" alt="image" /></li>-->
            </ul>
        </div>
        <div class="buttons">
            <button class="btn btnGreen"><span>Login</span></button>
            <span><em>or</em></span>
            <button class="btn btnBlue" ng-click="login"><span>Forgot Password</span></button>
        </div>
    </form>
</div>
