<div class="center">
					<h1>Lunch App</h1>
                    <button ng-click="myEvents()" class="btn btnBlue" name="myEvents"><span>my Events</span></button>

                    <button ng-click="newEvent()" class="btn btnBlue" name="newEvent"><span>new Event</span></button>
                    <button ng-click="viewProfile()" class="btn btnBlue" name="viewProfile"><span>view Profile</span></button>
					<div class="columns">
						<div class="half">
							<h2>Upcomming events</h2>
						</div>

					</div>
				</div>